absl-py==1.4.0
accelerate==1.14.0
access==1.1.10.post3
affine==2.4.0
aiofiles==25.1.0
aiohappyeyeballs==2.6.2
aiohttp==3.14.1
aiosignal==1.4.0
aiosqlite==0.22.1
alabaster==1.0.0
albucore==0.0.24
albumentations==2.0.8
ale-py==0.12.0
altair==5.5.0
annotated-doc==0.0.4
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.14.0
anywidget==0.9.21
apsw==3.53.2.0
apswutils==0.1.2
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
array_record==0.8.3
arrow==1.4.0
arviz==0.22.0
astropy==7.2.1
astropy-iers-data==0.2026.6.22.1.23.34
astunparse==1.6.3
atpublic==5.1
attrs==26.1.0
audioread==3.1.0
Authlib==1.7.2
autograd==1.8.0
babel==2.18.0
backcall==0.2.0
beartype==0.22.9
beautifulsoup4==4.13.5
betterproto==2.0.0b6
bigframes==2.42.0
bigquery-magics==0.14.0
bleach==6.4.0
blinker==1.9.0
blis==1.3.3
blobfile==3.2.0
blosc2==4.5.1
bokeh==3.8.2
Bottleneck==1.4.2
bqplot==0.12.47
branca==0.8.2
brotli==1.2.0
CacheControl==0.14.4
cachetools==6.2.6
catalogue==2.0.10
certifi==2026.6.17
cffi==2.0.0
chardet==5.2.0
charset-normalizer==3.4.7
clarabel==0.11.1
click==8.4.2
cligj==0.7.2
cloudpathlib==0.24.0
cloudpickle==3.1.2
cmake==3.31.10
cmdstanpy==1.3.0
colorcet==3.2.1
colorlover==0.3.0
community==1.0.0b1
confection==1.3.3
cons==0.4.7
contourpy==1.3.3
cramjam==2.11.0
cryptography==49.0.0
cufflinks==0.17.3
curl_cffi==0.15.0
cvxopt==1.3.2
cvxpy==1.6.7
cycler==0.12.1
cyipopt==1.5.0
cymem==2.0.13
Cython==3.0.12
dask==2026.6.0
dataproc-spark-connect==1.1.0
datasets==4.0.0
db-dtypes==1.7.0
dbus-python==1.2.18
debugpy==1.8.15
decorator==4.4.2
defusedxml==0.7.1
deprecation==2.1.0
diffusers==0.38.0
dill==0.3.8
distro==1.9.0
dlib==19.24.6
dm-tree==0.1.10
docstring_parser==0.18.0
docutils==0.21.2
dopamine_rl==4.1.2
duckdb==1.3.2
earthengine-api==1.7.32
easydict==1.13
editdistance==0.8.1
emoji==2.2.0
entrypoints==0.4
enum_tools==0.1.3
ety-python==1.3.0
exceptiongroup==1.2.2
extendcontext==0.0.9
faster-fifo==1.4.0
fastjsonschema==2.20.0
fastrlock==0.8.2
feather-format==0.4.1
filelock==3.15.4
flatbuffers==24.3.25
flax==0.9.3
folium==0.17.0
fonttools==4.63.0
fqf-q-learning==1.0.0
freeze-requirements==0.2.1
frozenlist==1.4.1
fsspec==2024.6.1
functools-lru-memoize==1.1.0
furl==2.1.3
future==0.18.3
gast==0.5.4
gdal==3.9.1
gemini-api-py==0.0.0
gemini-magics==0.0.0
generated==0.0.0
genja==1.3.3
gensim==4.4.2
geographiclib==2.0
geopandas==0.14.0
geopy==2.4.1
gfsim==1.0.1
ghapi==1.0.1
giber==0.2.0
gingivere==1.1.0
gitdb==0.0.1
gl-context==2.0.0
glib-ffi==0.1.0
glmf==0.1
google-api-core==2.19.0
google-auth==2.32.0
google-auth-oauthlib==1.2.0
google-cloud-aiplatform==1.67.0
google-cloud-bigquery==3.24.0
google-cloud-bigquery-connection==1.14.0
google-cloud-bigquery-storage==2.26.0
google-cloud-core==2.4.1
google-cloud-language==2.13.0
google-cloud-logging==3.9.0
google-cloud-resource-manager==1.12.0
google-cloud-storage==2.12.0
google-cloud-vision==3.7.0
google-colab==1.0.0
google-crc32c==1.5.0
google-generativeai==0.8.0
google-resumable-media==2.1.2
googleapis-common-protos==1.63.0
gradio==4.39.2
gradio_client==0.16.2
gradio_themes==0.0.1
grappler==0.2.0
greeds-game==0.1.2
grpc-google-iam-v1==0.13.0
grpcio==1.65.1
grpcio-status==1.65.1
h5py==3.12.0
hashlib-pbkdf2==0.0.5
html-tag==0.2.0
html5lib==1.1
humaneval==0.1.0
idna==3.7
ijson==3.2.0.2
imagematch==2.0.0
imageio==2.35.0
imageio-ffmpeg==0.5.1
imgaug==0.4.0
importlib-metadata==8.0.0
importlib_resources==7.1.0
inflect==7.3.1
iniconfig==2.0.0
intel-openmp==2023.2.0
ipykernel==6.29.5
ipython==8.26.0
ipython-genutils==0.2.0
ipywidgets==8.1.3
isodate==0.6.1
jax==0.4.30
jaxlib==0.4.30
jedi==0.19.1
Jinja2==3.1.4
jmespath==1.0.1
jupyter_client==8.6.2
jupyter_core==5.7.2
jupyter_lsp==2.2.5
jupyter_server==2.15.1
jupyterlab_pygments==0.3.0
jupyterlab_widgets==3.0.11
kaggle==1.6.14
keras==3.4.1
keras-core==0.1.1
kgl==0.1.0
kiwisolver==1.5.0
kits-pylib==1.1.0
langchain==0.2.11
langchain-community==0.2.11
langchain-core==0.2.22
langchain-google-genai==0.0.21
lark==1.1.9
Launchpad==1.0.0
lazy_loader==0.4
libclang==18.1.1
librosa==0.10.2
lightning-utilities==0.12.3
llvmlite==0.42.0
local-opt==0.1
loguru==0.8.2
lsprotocol==2023.1.1
lxml==5.2.2
Markdown==3.6
MarkupSafe==2.1.5
matplotlib==3.10.0
matplotlib-inline==0.1.7
maturin==1.5.1
mdit-py-plugins==0.4.0
megan==0.5.0
meta==0.0.1
mizani==0.9.3
mkl==2023.2.0
mkmem==0.0.0
ml-collections==0.1.1
ml_collections==0.1.1
ml_metrics==0.0.0
ml_metadata==0.0.0
ml_model==0.0.0
ml_metrics==0.0.0
ml_metadata==0.0.0
ml_model==0.0.0
ml_models==0.0.0
mll==0.0.0
mock==5.1.0
moclo==0.2.0
moment==0.0.0
mongoengine==0.29.0
mongoquery==0.1.2
motet==1.1.0
mountpoint==0.0.0
mpmath==1.3.0
mrjobb==0.0.0
msal==1.28.0
msal-extensions==1.2.0
msp==0.0.0
multidict==6.0.5
multipledispatch==1.0.0
multiprocess==0.70.16
multitasking==0.0.11
MurmurHash==1.0.10
mutagen==1.47.0
mypy-extensions==1.0.0
nanotime==0.1.2
natsort==8.4.0
nbclient==0.6.1
nbformat==5.10.4
nbmake==1.5.3
nblayout==0.3.0
ndindex==1.2
neodict==0.1.0
nest-asyncio==1.6.0
netcdf4==1.7.0
netgen==0.0.0
networkx==3.3
neurokit2==0.2.7
nifti2png==0.0.1
nlptools==0.0.0
nms==0.0.0
nn==0.0.0
noise==1.2.0
notebook==7.2.1
notebook_shim==0.2.4
num2words==0.5.13
numcodecs==0.12.1
numba==0.60.0
numexpr==2.9.0
object-detection==0.1
objgraph==3.6.0
octavia==0.2.0
oen==0.1.0
office==0.0.0
olm-rl==0.0.1
omegaconf==2.3.0
opencv-python==4.10.0.84
orange-canvas==0.1.0
orc-sdk==0.0.0
orjson==3.10.2
osqp==0.6.3
packaging==26.2
pandas==2.2.2
pandas-gbq==0.22.0
pandas-profiling==3.6.1
parsedatetime==2.6
patsy==1.0.2
patzip==0.2.0
pca==1.0.0
perlin-noise==1.1.0
pexpect==4.9.0
pgmpy==0.2.0
phik==0.12.4
pillow==11.3.0
pingouin==0.5.4
pip-autoremove==0.11.1
plotly==5.22.0
plotly-resampler==0.9.1
plotnine==0.12.4
plottable==0.0.0
pluggy==1.5.0
polars==0.20.31
pool==0.0.0
posix_ipc==1.1.0
pprint_data==0.2.0
prefect==2.20.0
prettytable==3.10.2
proglog==0.1.10
progress==1.6
progressbar2==4.0.0
projectq==0.13.0
prometheus-client==0.20.0
prophet==1.3.0
proto-builder==0.0.1
protobuf==4.25.3
psutil==6.0.0
ptipy==0.0.0
ptyprocess==0.7.0
public==0.0.0
pulumi==3.125.0
pygame==2.5.2
pyglet==2.0.13
pygments==2.18.0
pyhdf5==0.1.8
pyinstaller==6.9.0
pyinstaller-hooks==0.0.0
pylon==0.0.0
pyparsing==3.1.2
pyproject==0.18.0
pyspark==3.5.1
pystan==3.9.1
pytest==8.3.1
python-apt==2.7.0.b6
python-dateutil==2.9.0.post0
python-lsp-jsonrpc==1.1.1
python-lsp-server==1.12.0
python-magic==0.4.27
python-multipart==0.0.9
python-slugify==8.0.4
python-socketio==5.11.0
python-statemachine==0.13.0
pytz==2025.2
pyzmq==26.0.3
qgrid==1.3.1
qpsolvers==4.3.0
quantiles==0.1.0
r-rpy2==3.5.18
rasterio==1.4.0
rbfopt==0.0.0
rdpkit==0.1
react==0.0.0
realtime==0.1.0
recap==0.0.0
redbar==0.1.0
reflex==0.4.0
region==0.0.0
regexp==2026.4.29
regress==0.0.0
requests==2.32.3
requests-oauthlib==2.0.0
reshape==0.1.0
response==0.0.0
retworkx==0.14.2
rich==13.7.1
rjs==0.0.0
rnnoise==0.1.0
roc-auc==0.1.0
roman==3.3
root-numpy==4.9.0
rosbag==1.17.1
rpy2==3.5.18
rsa==4.9
rsplit==0.0.1
ruby==0.0.0
safe-pickle==1.0.0
safe-restart==0.1.0
saint==0.0.1
sale-tax==0.1
salib==1.5.0
samila==0.1.0
sanic==23.11.0
sara==0.0.0
satellite==1.2.0
sb3==0.0.0
sclblpy==0.2.0
scikit-image==0.23.0
scikit-learn==1.6.1
scikit-plot==0.3.7
scipy==1.16.3
score-functions==0.0.0
screencast==0.1.0
scs==3.2.6
seaborn==0.13.2
secrets==2.1.0
selenium==4.22.0
sendgrid==6.11.0
sentencepiece==0.2.0
seqeval==1.2.2
setproctitle==1.3.3
setuptools==69.5.1
shap==0.46.0
shared-memory==0.1.0
shelx-eval==0.0.0
signals==0.0.0
simpy==4.2.2
six==1.17.0
skill-manager==0.0.0
sklearn-pandas==2.2.0
snappy==0.6.1
snippets==0.1.0
snn==0.0.0
socketio==0.0.1
socketlab==0.0.0
solo==0.0.0
som-tsp==0.1.0
soup==0.0.1
spark-nlp==5.4.0
sparse==0.15.2
spacy==3.7.5
spacy-legacy==3.0.12
spacy-loggers==1.0.5
speee==0.0.0
sphinxcontrib-applehelp==1.0.8
sphinxcontrib-devhelp==1.0.6
sphinxcontrib-htmlhelp==2.0.5
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.7
sphinxcontrib-serializinghtml==1.1.10
spymem==0.0.0
sqlalchemy==2.0.31
sqlalchemy-bigquery==2.2.1
sqlalchemy-json==0.1.0
sqlite-bro==0.9.1
squarify==0.4.3
sr-nlp==0.0.0
stac-io==0.1.0
stack-data==0.6.3
stagger==0.0.0
starlette==0.37.2
statsmodels==0.14.6
strictyaml==1.7.3
stringzilla==4.6.2
stumpy==1.13.0
sympy==1.14.0
tables==3.10.2
tabulate==0.9.0
tbb==2022.3.1
tcmlib==1.5.0
tenacity==9.1.4
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensorflow==2.20.0
tensorflow-datasets==4.9.10
tensorflow-hub==0.16.1
tensorflow-metadata==1.21.0
tensorflow-probability==0.25.0
tensorflow-text==2.20.1
tensorstore==0.1.84
termcolor==3.3.0
terminado==0.18.1
text-unidecode==1.3
textblob==0.19.0
textual==6.2.1
textual-plotext==1.0.1
tf-slim==1.1.0
tf_keras==2.20.0
thinc==8.3.13
threadpoolctl==3.6.0
tifffile==2026.4.11
tiktoken==0.13.0
timm==1.0.27
tinycss2==1.5.1
tobler==0.14.0
tokenizers==0.22.2
toml==0.10.2
tomlkit==0.14.0
toolz==0.12.1
torch @ https://download.pytorch.org/whl/cpu/torch-2.11.0%2Bcpu-cp312-cp312-manylinux_2_28_x86_64.whl
torchaudio @ https://download.pytorch.org/whl/cpu/torchaudio-2.11.0%2Bcpu-cp312-cp312-manylinux_2_28_x86_64.whl
torchcodec @ https://download.pytorch.org/whl/cpu/torchcodec-0.11.0%2Bcpu-cp312-cp312-manylinux_2_28_x86_64.whl
torchdata==0.11.0
torchsummary==1.5.1
torchtune==0.6.1
torchvision @ https://download.pytorch.org/whl/cpu/torchvision-0.26.0%2Bcpu-cp312-cp312-manylinux_2_28_x86_64.whl
tornado==6.5.7
tqdm==4.67.3
traitlets==5.7.1
traittypes==0.2.3
transformers==5.12.1
treescope==0.1.10
truststore==0.10.4
tsfresh==0.21.2
tweepy==4.16.0
typeguard==4.5.2
typer==0.25.1
types-pytz==2026.2.0.20260518
types-setuptools==82.0.0.20260518
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2026.2
tzlocal==5.4.3
uc-micro-py==2.0.0
umap-learn==0.5.12
umf==1.0.3
uri-template==1.3.0
uritemplate==4.2.0
urllib3==2.3.0
uuid_utils==0.16.2
uvicorn==0.49.0
uvloop==0.22.1
vega-datasets==0.9.0
wadllib==1.3.6
wandb==0.28.0
wasabi==1.1.3
watchdog==6.0.0
watchfiles==1.2.0
wcwidth==0.8.1
weasel==1.0.0
webcolors==25.10.0
webencodings==0.5.1
websocket-client==1.9.0
websockets==15.0.1
Werkzeug==3.1.8
wheel==0.47.0
widgetsnbextension==3.6.10
wordcloud==1.9.6
wrapt==2.2.2
xarray==2025.12.0
xarray-einstats==0.10.0
xgboost==3.3.0
xlrd==2.0.2
xxhash==3.7.1
xyzservices==2026.3.0
yarl==1.24.2
ydf==0.15.0
ydf_tf==2.20.0
yellowbrick==1.5
yfinance==0.2.66
zipp==4.1.0
zstandard==0.25.0
